{
  "singleQuote": true,
  "semi": false,
  "arrowParens": "avoid",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "bracketSameLine": false,
  "vueIndentScriptAndStyle": true
}
