[Unit]
Description=Subconverter 守护进程
After=network-online.target


[Service]
Type=simple
Restart=always
ExecStart=~/.config/clash/subconverter/subconverter

[Install]
WantedBy=multi-user.target
